<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>  
    <meta charset="utf8">  
    <title><%= "#{@title} | #{@site_name}" %></title>

    <link href="/css/reset.css" rel="stylesheet">  
    <link href="/css/style.css" rel="stylesheet">  

  </head>  
  <body>  
    <header id="masthead" role="banner">
      <div class="wrap"> 
        <hgroup>  
          <h1><a href="/">Speak</a></h1>  
          <hr>
        </hgroup> 
      </div>
      <!-- /.wrap-->  
    </header>  

    <section id="yield">
      <div class="wrap">
        <div id="main">  
          <%= yield %>
        </div>  
        <!-- /main -->
      </div>
      <!-- /.wrap -->
    </section>
    <!-- /yield -->

    <div class="wrap">
      <section id="options">
        <a href='/charles'>Charles Taylor</a> | <a href='/mao'>Mao Zedong</a>
      </section>
      <!-- /options -->
    </div>
    <!-- /.wrap -->

    <footer>
      <div class="wrap">
        <small>Copyleft</small>  
      </div>
      <!-- /.wrap -->
    </footer>  
  </body>  
</html>  