<section id="login">
  <form action="/login" method="post">
    <h2>Login Form</h2>
    <br>

    <div class="user-info">
      <input name="username" type="text" placeholder="Username" id="username" class="user-info-field"/>
      <span class="notice">
        <% if @username_error %>
            <%= @username_error %>
          <% elsif !@login.nil? && @login.errors.on(:username) %>
            <%= @login.errors.on(:username)[0] %>
          <% end %>
      </span>
    </div>
    <!-- /user-info -->

    <div class="user-info">
      <input name="password" type="password" placeholder="Password" id="username" class="user-info-field"/>
      <span class="notice">
        <% if !@login.nil? && @login.errors.on(:current_password) %>
            <%= @login.errors.on(:current_password)[0] %>
          <% end %>
      </span>
    </div>
    <!-- /user-info -->
    
    <div>
      <input type="submit" value="Login" />
    </div>
  </form><!-- form -->
</section><!-- login -->