<section id="search">
  <form action="/search" method="post" name="search">
    <h2>Search Form</h2>
    <br>

    <input name="search" type="text" placeholder="Enter a username" id="search" class="" autocomplete="off"/>

    <div>
      <input type="submit" value="Find" />
    </div>
    
  </form>
  <!-- /search -->
  <br>
  <% if @match %>
    <a href='/user/<%=h @match.username %>'><%=h @match.username %><a>
  <% elsif @no_match %>
    <%=h @no_match %>
  <% end %>
  <br>
</section>
<!-- /search -->