body {
  background: #F3F3F3;
  font: 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4f515d;
  margin: 0 auto;
  position: relative;
}
h1 {
  font-size: 32px;
  letter-spacing: -1px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
small {
  font-size: 10px;
}
b,
strong {
  font-weight: bold;
}
a {
  text-decoration: none;
}
a :hover {
  text-decoration: underline;
  cursor: pointer;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
}
header {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
}
.left {
  float: left;
}
.right {
  float: right;
}
.alignleft {
  float: left;
  margin-right: 15px;
}
.alignright {
  float: right;
  margin-left: 15px;
}
.wrap {
  position: relative;
  width: 900px;
  margin: 0 auto;
}
#options {
  display: inline-block;
  overflow: hidden;
  margin: 0 auto;
}